.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    background-color: #FFF1D7;
    border-radius: 10px;
    margin-right: 1%;
}